html,
body {
  height: 100%;
  margin: 0;
  text-align: center;
  font-family: sans-serif;
}

*:focus {
  outline: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  background-color: #15181b;
  margin-bottom: 100px;
}

.nav-logo {
  height: 35px;
  margin: 17px 0px 10px 20px;
  cursor: pointer;
}

.nav-user {
  margin: 28px 10px 0 10px;
  color: rgb(231, 231, 231);
  font-size: 14px;
}

.logout-btn,
.login-btn {
  display: block;
  margin-top: 19px;
  margin-right: 20px;
  height: 28px;
  width: 86px;
  border: 2px solid #4e3bdb;
  cursor: pointer;
  font-size: 15px;
  background-color: #4e3bdb;
  color: rgb(231, 231, 231);
  border-radius: 4px;
}

.login-btn > a,
.logout-btn > a {
  display: block;
  margin-top: 5px;
}

.login-btn {
  text-decoration: none;
}

.logout-btn:hover,
.login-btn:hover {
  background-color: #5342d8;
}

/* for mobile view */
@media only screen and (max-width: 450px) {
  .nav-user {
    font-size: 12px;
  }
}
