.login-form {
  width: 400px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding-bottom: 50px;
  padding-top: 20px;
  box-shadow: 0px 0px 8px -2px rgba(163, 163, 163, 1);
}

.login-form-header {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 20px;
}

.login-form-input,
.login-form-submit-btn {
  box-sizing: border-box;
  width: 70%;
  line-height: 40px;
  margin-bottom: 15px;
  border: 0;
  border-bottom: 1px solid rgb(196, 196, 196);
  appearance: none;
  text-align: center;
}

.login-form-input {
  font-size: 17px;
  background-color: #f2f2f2;
}

.login-form-input:focus {
  border-bottom: 1px solid #6851ff;
}

.login-form-submit-btn {
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
  background-color: #4e3bdb;
  color: white;
  border-radius: 4px;
}

.login-form-input:focus,
.login-form-submit-btn:focus {
  outline: none;
}

.login-form-submit-btn:hover {
  box-shadow: 0px 0px 8px -1px rgba(163, 163, 163, 1);
  background-color: #5342d8;
}

.error-msg {
  font-size: 10px;
  color: red;
  height: 15px;
}

/* for mobile view */
@media only screen and (max-width: 450px) {
  .login-form {
    width: 85%;
  }
}
