/* Instructions */

.instructions-container {
  padding: 10px;
}

.instructions {
  text-align: left;
}

.instructions-item {
  padding: 5px;
}

.delete-todo-btn-example {
  color: red;
  cursor: pointer;
}

/* Todo Form */

.body-container {
  margin: auto;
  text-align: center;
  width: 450px;
  background-color: #edf0f1;
  border-radius: 8px;
}

.add-todo-form-container {
  padding: 15px 10px 0 10px;
  border-radius: 8px;
}

.add-todo-form {
  display: flex;
  justify-content: center;
  height: 30px;
  margin-bottom: 10px;
}

.add-todo-input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #edf0f1;
  margin-left: 5px;
  height: 35px;
  background-color: #f5f8fa;
  padding-left: 10px;
  font-size: 14px;
  border-radius: 4px;
}

.add-todo-input:focus {
  outline: none;
  border-bottom: 1px solid #8b8a8a;
}

.add-todo-submit-btn {
  margin: 1px 5px 0 15px;
  height: 35px;
  background-color: #15181b;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.add-todo-submit-btn:hover {
  color: #242a32;
  background-color: white;
  border: 1px solid #15181b;
}

.todo-list-container {
  margin-top: 10px;
  padding-bottom: 3px;
}

.items-left-display {
  padding-right: 15px;
  font-size: 13px;
  text-align: right;
  padding-bottom: 10px;
  color: rgb(173, 173, 173);
}

.error-msg {
  font-size: 10px;
  color: red;
  height: 15px;
}

/* Todo List */

.todo-item-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  background-color: #ffffff;
  width: 90%;
  margin: 12px auto;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.1);
}

.todo-item-container:hover {
  border: 1px solid #e2e2e2;
}

.toggle-complete-btn {
  height: 17px;
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: -3px;
}
.completed {
  text-decoration: line-through;
  color: rgb(177, 177, 177);
  background-color: #f7f7f7;
}

.todo-item-name {
  line-height: 30px;
}

.delete-todo-btn {
  color: #ffadad;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  margin-left: 10px;
  padding: 0 8px;
}

.delete-todo-btn:hover {
  color: red;
}

/* for mobile view */
@media only screen and (max-width: 450px) {
  .body-container {
    width: 85%;
  }
}
